html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    position: fixed;
    -webkit-font-smoothing: antialiased;
}

#map {
    height: 100%;
    width: 100%;
    position: absolute;
}

.debugbackground {
    /*background-color: rgba(100, 181, 246, 0.1);*/
}

.materialbox {
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: #FFF;
}

.shadowbox {
    opacity: 0.85;
    background-color: #000;
    color: #FFF;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}


/* :3 ily */


/*.shadowbox {
    opacity: 0.9;
    background-color: #FFF;
    color: #222;
}
*/

@media (min-width: 0px) and (max-width: 800px) {
    .searchpanel {
        width: 100%;
        max-height: 40%;
        overflow: hidden;
        overflow-y: scroll;
    }
    .infopanel {
        width: 100%;
    }
    .infoslidein {
        margin-right: 0%;
    }
    .infoslideout {
        margin-right: -100%;
    }
    .locationoverlay {
        padding: 2em 2em 2em 2em;
    }
    .eventlocation p {
        font-size: 2em;
    }
    .eventlocation h1 {
        font-size: 5em;
        font-weight: normal;
    }
    .imagewithoverlay {
        font-size: 1em;
        font-weight: normal;
    }
    .bandinfo {
        font-size: 3em;
        font-weight: normal;
    }
}

@media (min-width: 800px) and (max-width: 1200px) {
    .searchpanel {
        width: 40%;
    }
    .infopanel {
        width: 40%;
    }
    .infoslidein {
        margin-right: 0%;
    }
    .infoslideout {
        margin-right: -40%;
    }
    .locationoverlay {
        padding: 1em 1em 1em 1em;
    }
    .eventlocation p {
        font-size: 1em;
    }
    .eventlocation h1 {
        font-size: 1.4em;
        font-weight: normal;
    }
}

@media (min-width: 1200px) {
    .searchpanel {
        width: 33%;
    }
    .infopanel {
        width: 33%;
    }
    .infoslidein {
        margin-right: 0%;
    }
    .infoslideout {
        margin-right: -33%;
    }
    .locationoverlay {
        padding: 0.7em 0.7em 0.7em 0.7em;
    }
    .eventlocation p {
        font-size: 0.7em;
    }
    .eventlocation h1 {
        font-size: 1.5em;
        font-weight: normal;
    }
}


/*h5,
h6 {
    margin: 0 !important;
    padding: 0 !important;
}
*/


/*Search panel*/

.searchpanel {
    box-sizing: border-box;
    float: left;
    /*position: absolute;*/
    top: 0px;
    left: 0px;
    padding: 2% 2% 2% 2%;
    margin: 0;
    transition: 0.5s;
}

.searchbar input {
    box-sizing: border-box;
    outline: none;
    border: none;
    font-size: 16px;
    padding: 0px 20px 0px 40px;
    height: 40px;
    line-height: 40px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;

}

.searchresult {
    margin: 2% 0% 2% 0%;
}

.searchbar .material-icons {
    position: relative;
    right: -10px;
    margin-right: -10%;
    margin-top: 9px;
    float: left;
}

.redbox {
    background-color: rgba(255, 0, 0, 1);
    float: left;
    width: 3.5em;
    text-align: center;
    font-size: 0.7em;
    display: inline-block;
    /*border: 1px solid #DDD;*/
}

.whitebox {
    width: 100%;
    padding: 0px 0px 0.3em 0px;
    background-color: rgba(255, 255, 255, 1);
    color: black;
    text-align: center;
    font-size: 2em;
}

.bandnames {
    margin-left: 1em;
    clear: left;
}

.bandnames1 {
    margin-left: 1em;
    clear: left;
    font-size: 0.9em;
    color: #DDD;
}

.bandnamescontainer {
    float: left;
}

.walktime {
    margin-left: 1em;
    float: left;
}


/* table */

#tableresults li {
    box-sizing: border-box;
    height: 4em;
    list-style-type: none;
    border-bottom: 1px solid #DDD;
    padding: 0.5em 0 0.5em 0.5em;
}

#tableresults li:hover {
    background-color: #2DC0D6;
}

#tableresults ul {
    box-sizing: border-box;
    margin: 0% 0% 0% 0%;
    padding: 0% 0 0% 0;
}

#tableresults li:last-child {
    border-bottom: none;
}


/*Information panel*/

.infopanel {
    box-sizing: border-box;
    float: right;
    top: 0px;
    /*margin-right: -33%;*/
    padding: 2% 2% 2% 2%;
    overflow-y: scroll;
    transition: 0.5s;
    max-height: 100%;
}


/*padding between info panel items*/

.infopanel>div {
    margin-top: 1em;
    margin-bottom: 1em;
}


/*band thumbnails*/

.bandpics {
    text-align: center;
}

.bandinfo {
    width: 100%;
}

.bandimage {
    width: 9em;
    height: 9em;
    border-radius: 50%;
    display: inline-block;
    margin: 0 0.5em 0 0.5em;
    /*border: 5px solid #f3f3f3;*/
    transition: all .2s ease-in-out;
    overflow: hidden;
}

.bandimage img {
    display: block;
    width: 100%;
    /*    filter: grayscale(1);
    -webkit-filter: grayscale(1);*/
}

.bandimage:hover {
    transform: scale(1.1);
    cursor: hand;
    cursor: pointer;
}

.bandinfo {
    width: 100%;
    border: 0;
    overflow: hidden;
}

.bandinfo p {
    padding: 0em 1em 1em 1em;
}


/* band image and name overlayed */

.imagewithoverlay {
    position: relative;
    border: 0;
    width: 100%;
    display: block;
}

.imagewithoverlay>div {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.5em 0.5em 0.5em 0.5em;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    width: 100%;
    font-size: 2em;
    color: #FFF;
}

.imagewithoverlay img {
    width: 100%;
    display: block;
}

.musicbox {
    height: 300px;
}




/*event section*/

.eventinfo {
    width: 100%;
}

.eventlocation {
    position: relative;
    width: 45%;
    float: left;
}

.eventlocation:hover {
    cursor: hand;
    cursor: pointer;
}

.eventlocation:hover img {
    opacity: 0.3;
}

.locationoverlay {
    position: absolute;
    width: 100%;
    z-index: 1;
    box-sizing: border-box;
}

.graybackground {
    -webkit-transition: all 0.5s linear;
    opacity: 0.7;
    filter: alpha(opacity=70);
    z-index: 0;
    width: 100%;
    display: block;
    top: 0;
    z-index: 0;
}

.boxClickUrl {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.eventtickets {
    width: 45%;
    float: right;
    position: relative;
}

.eventtickets:hover {
    cursor: hand;
    cursor: pointer;
}

.eventtickets:hover #ticketbg {
    opacity: 0.3;
}

#samplebutton {
    width: 500px;
    height: 100px;
    margin-left: 20px;
    position: relative;
    z-index: 10000;

}



.buttoncontainer {
    /*top: 0;*/
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25), 0 2px 3px rgba(0, 0, 0, 0.22);
    /*box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.7);*/
    background-image: url("images/placebackground2.jpg") ;
    color: #FFF;

    z-index: 10000;   /*border: 5px solid #f3f3f3;*/
}

.ticketoverlay {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.ticketoverlay img {
    width: 100%;
    display: block;
}

.loginbox {
    padding: 40px;
    width: 274px;
    background-color: #F7F7F7;
    margin: 0 auto 10px;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: absolute;
    z-index: 2;
    top: 50%;
}

.loginbox h1 {
    font-weight: 100;
    text-align: center;
    font-size: 2.3em;
}

.loginbox input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.loginbox input[type=text],
input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
}

.loginbox input[type=text]:hover,
input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.login {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
}

.loginsubmit {
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background-color: #4d90fe;
}

.loginsubmit:hover {
    border: 0px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    background-color: #357ae8;
}



.musichide{
    padding-bottom: 0px;
}

.musicshow{
    padding-bottom: 80px;
}

.embed-container {
    position: relative;
    height: 0;
    transition: 0.5s;

    overflow: hidden;
    max-width: 100%;
    height: auto;
}
    .embed-container iframe,
    .embed-container object,
    .embed-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

